<style>
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  </style>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>            
            <th>CompanyName</th>
            <th>Symbol</th>
            <th>Market Cap</th>
            <th>Eps</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.companyName}}</td>
            <td>{{employee.symbol}}</td>
            <td>{{employee.marketCap}}</td>
            <td>{{employee.forwardEps}}</td>
            <td><button (click)="(saveEmployee())" class="btn">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  