<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>

.wrapper {
  margin-left: 30%;
  margin-top: 10%;
  display:block;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 40%;
  min-height: 100%;
  padding:2%;
  border:1px solid #000000;
 }
 
 button{
  background-color: #003A72;
  color: white;
  width: 80%;
  margin: 5px;
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid;
}


input {
  color: #0d0d0d;
  padding: 15px;
  text-align: center;
  font-size: 1rem;
  margin: 5px;
  width: 80%;
  border: 2px solid #f3f3f3;
  border-radius: 5px 5px 5px 5px;
}

</style>
  <div class="wrapper">
    <form action='./dashboard'>
      <input type="text" id="username" name="username" required [(ngModel)]="u.Name" placeholder="username">
      <input type="password" id="password"   name="password" required [(ngModel)]="u.Password" placeholder="password">
      <button class="button" (click)="loginUser(u.Name,u.Password)">Submit</button>
    </form>
</div>

<router-outlet></router-outlet>
